.resturant_ItemDetail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    align-items: center;
}
.resturant_ItemDetail-information{
    width: 377px;
    
}
.resturant_ItemDetail-information h1{
    font-size: 46px;
    line-height: 60px;
    padding-bottom: 1rem;
}
/* 377 */