.resturant__menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.resturant__menu-categories{
    display: flex;
    
}
.resturant__menu-categories_items{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    
}
.resturant__menu-categories_items p {
    border: 1px solid #379237;
    margin: 1rem;
    padding: .5rem;
}
.resturant__menu-food h1{
    padding: 1rem;
}
.resturant__menu-food_items{
    display: flex;
    flex-direction: row;
gap: 1rem;
}
.filter-btn{
    background-color: transparent;
    border: 1px solid #379237;
    margin: 1rem;
    padding: .5rem;
}
.active-btn{
    background-color: #379237;
}
@media screen and (max-width: 1050px) {
    .resturant__menu{
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
    .resturant__menu-food_items{
        margin:1rem;
    }
    .resturant__menu-categories_items{
        display: flex;
        flex-direction: row;
    }
}
@media screen and (max-width: 700px) {
    .resturant__menu{
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
    .resturant__menu-food_items{
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    .resturant__menu-categories_items{
        display: flex;
        flex-direction: row;
    }
}
@media screen and (max-width: 550px) {
    .resturant__menu{
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
    .resturant__menu-food_items{
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    .resturant__menu-categories_items{
        display: flex;
        flex-direction: row;
    }
}