.resturant__menucard{
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.7px);
-webkit-backdrop-filter: blur(3.7px);
border: 1px solid rgba(255, 255, 255, 0.24);
}
.resturant__menucard-image{
    display: flex;
}
.resturant__menucard-image img{
    height: 300px;
    width: 300px;
}
.resturant__menucard-card{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.resturant__menucard-card h3{
    font-size: 20px;

}
.resturant__menucard-card button{
    margin: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #379237;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
