.resturant__menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.resturant__menu-categories{
    display: flex;
    
}
.resturant__menu-categories_items{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    
}
.resturant__menu-categories_items p {
    border: 1px solid #379237;
    margin: 1rem;
    padding: .5rem;
}
.resturant__menu-food{
    display: flex;
    flex-direction: row;
gap: 1rem;}