.resturant__footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.resturant__footer-description,
.resturant__footer-infolinks,
.resturant__footer-quicklinks,
.resturant__footer-contacts{
    display: flex;
    flex-direction: column;
}
.resturant__footer-description p{
    max-width: 400px;
}
.resturant__footer-description h3{
    color: #379237;
    font-size: 25px;
    font-weight: bold;

}
@media screen and (max-width: 1050px) {
    .resturant__footer{
        padding: 2rem;
    }
}

@media screen and (max-width: 700px) {
    .resturant__footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
    }
    .resturant__footer-description p{
        max-width: 200px;
    }
    .resturant__footer-description,
.resturant__footer-infolinks,
.resturant__footer-quicklinks,
.resturant__footer-contacts{
    display: flex;
    flex-direction: column;
    margin: .75rem;
}
}
@media screen and (max-width: 550px) {
    .resturant__footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .resturant__footer-description,
.resturant__footer-infolinks,
.resturant__footer-quicklinks,
.resturant__footer-contacts{
    display: flex;
    flex-direction: column;
    margin: .75rem;
}
}