.cart-glass{
    /* From https://css.glass */
    height: 250px;
    width: 250px;
background: rgba(253, 189, 16, 1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.1px);
-webkit-backdrop-filter: blur(9.1px);
border: 1px solid rgba(253, 189, 16, 1);
}
/* buttun design */
.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn28 {
    background-image: linear-gradient(
      to right,
      #e00a15,
      #f15e64,
      #e14e53,
      #e2373f
    );
    box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
  }

.circle{
    z-index: -1;
    opacity: .1;
    height:600px;
  width: 600px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
}

.rect{
    right: 100px;
    height: 720px;
    width: 450px;
    position: absolute;
    z-index: -8;
    background-color: #fdbd10;
}
.yellow-bg{
    background-color: #fdbd10;
  }
  .yellow-text{
    color: #fdbd10;
  }
  .red-bg{
    background-color:#ec1c24 ;
  }
  .red-text{
    color: #ec1c24;
  }
.pizzahub__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pizzahub__header-content h1{
    max-width: 500px;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.pizzahub__header-content p{
    
    max-width: 500px;
font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    margin-top: 1.5rem;
}
.pizzahub__header-content_btns button{
    padding: 0.5rem 0.5rem;
    margin: 2rem 0rem;
    color: #fff;
    background-color: #ec1c24;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.pizzahub__header-image img{
    position: absolute;
    top: 5%;
    right: 5%;
    height:700px;
    width: 700px;
}
/* tablets devices */
@media screen and (max-width: 1050px) {
    .pizzahub__header {
        padding: 2rem 4rem;
    }
    .pizzahub__header-image img{
        position: static;
        margin-right: 50px;
        height:500px;
        width: 500px;
    }
}

@media screen and (max-width: 700px) {
    .pizzahub__header {
        padding: 2rem 4rem;
    }
    .pizzahub__header-image img{
        opacity: .2;
        position: absolute;
        top: 5%;
        right: 5%;
        height:700px;
        width: 700px;
    }
}
/* mobile devices */
@media screen and (max-width: 550px) {
    .pozzahub__header {
        padding: 2rem;
    }
    .pizzahub__header-image img{
        opacity: .2;
        position: absolute;
        top: 5%;
        right: 5%;
        height:700px;
        width: 700px;
    }
    .bn632-hover {
        display:none;
    }
    .circle{
        display: none;
    }
    .rect{
        display: none;
    }
    .custom{
        display: none;
    }
    
}